/*
To center text within each tile in tic-tac-toe, consider .item class also as a grid and apply place-items: center property (which horizontally and vetically aligns the content)
*/

.game--container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4%; 
    margin: auto;
    width: 25%;
    height: 20vw;
    border: 5px solid #3b6691;
    border-radius: 20px;
    padding: 1rem;
    background-color: #F5F5F5;
}

.game--title{
    text-align: center;
}

.item{
    display: grid; 
    background-color: orange;
    border-radius: 15px;
    place-items: center;
    border: 1px solid #333333;
    color: whitesmoke;
    font-size: 2em;
    font-weight: 150;
}

.game--restart{
    background-color: #c28df7e8;
    border: 2px solid red;
    padding: 0.5rem;
    border-radius: 10px;
    display: block;
    margin: 2em auto;
    font-size: 1.5em;
    font-size: 150;
}

.game--status{
    margin-top: 2em;
    text-align: center;
}

